.latest-post-container {
  padding-inline: 100px;
}
.top {
  margin: 100px 0;
  display: flex;
  justify-content: space-between;
}
.top span img {
  animation: square 1s ease-in infinite;
}
@keyframes square {

  100% {
    transform: translateX(10px);

  }
}

.top h2 {
  color: var(--slate-50, #f8fafc);
  font-size: 40px;
  font-weight: 700;
}
.top h2 span {
  background: linear-gradient(270deg, #22d3ee 38.89%, #0ea5e9 51.56%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-weight: 700;
}
.top p {
  display: flex;
  width: 206px;
  height: 44px;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

@media (max-width: 768px) {
  .latest-post-container {
    padding-inline: 20px;
  }
  .top h2 {
    font-size: 30px;
  }
  .top h2 span {
    font-size: 30px;
  }
}

@media (max-width: 412px) {
  .top h2 {
    font-size: 20px;
  }
  .top h2 span {
    font-size: 20px;
  }
}
