* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul{
  list-style-type: none;
}
body{

  background: #0f172a;
}
.app {
  color: #F8FAFC;
  font-family: 'Roboto', sans-serif;
}
button{
  animation:  double 3s infinite linear forwards;

}
button:hover{
  transform: scale(1.2);

}
